* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* add the below styles to wordpress page css */

  .hidden{
      display: none;
      visibility: hidden;
  }

  #hidden_section_1, #hidden_section_2, #hidden_section_3, #hidden_section_4{
      margin: 10px 0px;
  }

  form{
      position: relative;
  }

  label{
      font-weight: bold;
  }

  input{
    height: 25px;
}

/* if you want to make some of the inputs full size */
/* .big_input{
    width: 100%;
} */

.error{
    color: red;
}