* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0px 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .hidden{
      display: none;
      visibility: hidden;
  }